{% extends 'ClassCoverSchoolBundle:Default:layout.html.twig' %}
{% block container %}

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title"><span style="font-size: 20px; font-weight: 400;" class="section-title">Booking Calendar</span></h3>
        </div>
        <div class="panel-body">
            <input type="hidden" id="default-date-for-search" value="{{ 'now'|date('Y-m-d') }}" />
          {#  <div class="row">
                <div class="col-md-4">
                    <h4>Casual(s) Shift Report</h4>
                    <p>Download all CYO shift data for a specific period.</p>
                    <button class="btn btn-success teacher-shift-report">Download</button>
                </div>
                <div class="col-md-4"></div>
                <div class="col-md-4"></div>
            </div>#}
            <br />
            <div class="row">
                <div class="col-md-12">
                    <div id="calendar"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade from-calendar" id="download-casual-shift-report">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Casual(s) Report</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-4">
                            <label class="book-manually-update">Date Range:</label>
                        </div>
                        <div class="col-md-4">
                            <div class="input-group date">
                                <input class="form-control calendar-report-pickers date-from" type="text">
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="input-group date">
                                <input class="form-control calendar-report-pickers date-to" type="text">
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-4">
                            <label>Casual:</label>
                        </div>
                        <div class="col-md-4">
                            <select class="form-control report-casuals-selection">
                                <option value="0">All Casuals</option>
                                {% for casual in casualList if casualList|length > 0 %}
                                    {%  if casual.getRemoved() == 0 %}
                                    <option value="{{ casual.getTeacher().getId() }}">{{ casual.getTeacher().getFirstName() }} {{ casual.getTeacher().getSurname() }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-md-4"></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger book-via-sms download-report-abort" data-dismiss="modal">Abort</button>
                    <button type="button" class="btn btn-primary book-via-sms download-report-confirm">Run Report</button>
                </div>
            </div>
        </div>
        </div>

    <!-- End Cancel SMS Booking Prompt -->
    <div class="modal fade from-calendar" id="confirm-change-booking-parameters">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Update/Cancel Booking</h4>
                </div>
                <div class="modal-body">
                    {% include 'ClassCoverSchoolBundle:Partials/Book:book-update.html.twig' %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger book-via-sms booking-update-cancel-confirm">Cancel Booking</button>
                    <button type="button" class="btn btn-primary book-via-sms booking-update-confirm">Update Booking</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal Booking Modify -->
    <!-- Cancel SMS Booking Prompt -->
    <div class="modal fade" id="confirm-sms-booking-cancel">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Cancel SMS Booking</h4>
                </div>
                <div class="modal-body">
                    <p>All SMS's not yet sent will be stopped and the booking will be closed to any replies. Are you sure you wish to cancel this booking request?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger book-via-sms booking-cancel-abort" data-dismiss="modal">Abort Cancellation</button>
                    <button type="button" class="btn btn-primary book-via-sms booking-cancel-confirm">Confirm Cancellation</button>
                </div>
            </div>
        </div>
    </div>
    <!-- End Cancel -->

    <!-- Manual Override -->
    <div class="modal fade" id="confirm-override">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Manual Override Reason</h4>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="auth_by">Authorised by:</label>
                            <input type="text" id="manual-override-by" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="auth_reason">Please state the reason for manual override:</label>
                            <textarea class="form-control" id="manual-override-reason" rows="2"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger book-via-sms override-abort" data-dismiss="modal">Abort Override</button>
                    <button type="button" class="btn btn-primary book-via-sms override-confirm">Confirm Override</button>
                </div>
            </div>
        </div>
    </div>
    <!-- End Manual Override -->
    {% javascripts
    '@ClassCoverSchoolBundle/Resources/public/js/classcover-school-book.js'
    '@ClassCoverSchoolBundle/Resources/public/js/classcover-school-manual-book.js'
    '@ClassCoverSchoolBundle/Resources/public/js/classcover-school-calendar.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}