{% extends 'ClassCoverAdminBundle:Default:layout.html.twig' %}
{% block container %}
    <br /><br />
    <br /><br />
    <div class="col-md-10">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Announcement list</h3>
            </div>
            <div class="panel-body">
                {% if entities|length>0 %}
                <table class="records_list table table-bordered">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Applied To</th>
                        <th>Start</th>
                        <th>End</th>
                        <th>Headline</th>
                        <th>Text</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for entity in entities %}
                        <tr>
                            <td nowrap="nowrap"><a href="{{ path('admin_announcement_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                            <td nowrap="nowrap">{{ entity.type }}</td>
                            <td nowrap="nowrap">{% if entity.dateTimeStart %}{{ entity.dateTimeStart|date('d/m/Y H:i') }}{% endif %}</td>
                            <td nowrap="nowrap">{% if entity.dateTimeEnd %}{{ entity.dateTimeEnd|date('d/m/Y H:i') }}{% endif %}</td>
                            <td nowrap="nowrap">{{ entity.headLine }}</td>
                            <td>{{ entity.smsText }}</td>
                            <td nowrap="nowrap">
                                {#<ul>
                                    <li>
                                        <a href="{{ path('admin_announcement_show', { 'id': entity.id }) }}">show</a>
                                    </li>
                                    <li>
                                        <a href="{{ path('admin_announcement_edit', { 'id': entity.id }) }}">edit</a>
                                    </li>
                                </ul>#}
                                <a class="btn btn-success" href="{{ path('admin_announcement_edit', { 'id': entity.id }) }}">edit</a>
                                <a class="btn btn-danger" href="{{ path('admin_announcement_delete', { 'id': entity.id }) }}">delete</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% else %}
                    No Announcements added
                {% endif %}
                <br />
                <br />
                <a class="btn btn-primary" href="{{ path('admin_announcement_new') }}">Create a new entry</a>
            </div>
        </div>
    </div>
    <div class="col-md-2">

    </div>
{% endblock %}
