{% extends 'ClassCoverAdminBundle:Default:layout.html.twig' %}
{% block container %}
    <br /><br />
    <br /><br />
    <div class="col-md-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Announcement creation</h3>
            </div>
            <div class="panel-body">
                {% form_theme form 'bootstrap_3_layout.html.twig' %}
                {{ form(form) }}
                <br /><br />
                <a class="btn btn-primary" href="{{ path('admin_announcement') }}">
                    Back to the list
                </a>
            </div>
        </div>
    </div>
    <div class="col-md-4">

    </div>
{% endblock %}