{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Announcement</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ entity.type }}</td>
            </tr>
            <tr>
                <th>Datetimestart</th>
                <td>{{ entity.dateTimeStart|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Datetimeend</th>
                <td>{{ entity.dateTimeEnd|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Smstext</th>
                <td>{{ entity.smsText }}</td>
            </tr>
            <tr>
                <th>Createdon</th>
                <td>{{ entity.createdOn|date('Y-m-d H:i:s') }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('admin_announcement') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('admin_announcement_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
