{% extends 'ClassCoverCyoBundle:Default:layout.html.twig' %}
{% block container %}
    <div class="col-md-2"></div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Edit Settings</h3>
            </div>
            <div class="panel-body">
                {% form_theme edit_form 'bootstrap_3_layout.html.twig' %}
                {{ form(edit_form) }}
            </div>
        </div>
    </div>
    <div class="col-md-2"></div>
{% endblock %}
