{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Settings</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Emailbeforebooking</th>
                <td>{{ entity.emailBeforeBooking }}</td>
            </tr>
            <tr>
                <th>Emailbreakdown</th>
                <td>{{ entity.emailBreakdown }}</td>
            </tr>
            <tr>
                <th>Emailavailabilityreminder</th>
                <td>{{ entity.emailAvailabilityReminder }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('teacher_settings') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('teacher_settings_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
