{% extends 'ClassCoverAdminBundle:Default:layout.html.twig' %}
{% block container %}
    <br />
    <br />
    <br />
    <div class="row">
        <div class="col-md-10">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><span style="font-size: 20px; font-weight: 400;" class="section-title"></span></h3>
                </div>
                <div class="panel-body">
                    <table class="table table-bordered">
                        <tr>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Phone</th>
                            <th>Signup</th>
                            <th>Centre</th>
                            <th>Options</th>
                        </tr>
                        {% for casual in casuals  %}
                            <tr>
                                <td><a href="#">{{ casual.firstName }} {{ casual.surname }}</a></td>
                                <td>{{ casual.email }}</td>
                                <td>{{ casual.phone|phoneNumberToNational }}</td>
                                <td>{{ casual.createdOn }}</td>
                                <td>-</td>
                                <td>
                                    <a href="{{ path('class_cover_admin_login_as', {userId : casual.user.id}) }}">Login As</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
{% endblock %}

