{% extends 'ClassCoverAdminBundle:Default:layout.html.twig' %}
{% block container %}
    <br />
    <br />
    <br />
    <div class="row">
        <div class="col-md-10">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><span style="font-size: 20px; font-weight: 400;" class="section-title"></span></h3>
                </div>
                <div class="panel-body">
                    <table class="table table-bordered">
                        <tr>
                            <th>Name</th>
                            <th>Address</th>
                            <th>Phone</th>
                            <th>Options</th>
                        </tr>
                        {% for school in schools  %}
                        <tr>
                            <td><a href="#">{{ school.name }}</a></td>
                            <td>
                                {{ school.addressStreet }}
                                {{ school.addressCity }}
                                {{ school.addressState }}
                                {{ school.addressCountry }}
                                {{ school.addressPostCode }}
                            </td>
                            <td>{{ school.phone|phoneNumberToNational }}</td>
                            <td>
                                <a href="{{ path('class_cover_admin_login_as', {userId : school.user.id}) }}">Login As</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
                    <a class="btn btn-success pull-right" href="{{ path('class_cover_admin_create_school') }}">Create Centre</a>
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
{% endblock %}