{% extends 'ClassCoverAdminBundle:Default:layout.html.twig' %}
{% block container %}
    <br />
    <br />
    <br />
    <div class="row">
        <div class="col-md-10">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><span style="font-size: 20px; font-weight: 400;" class="section-title"></span></h3>
                </div>
                <div class="panel-body">
                    {% if errors is defined %}
                        <div class="alert alert-danger">
                        {% for error in errors %}
                            <span>{{ error }}</span><br />
                        {% endfor %}
                        </div>
                    {% endif %}
                    <form method="post" action="{{ path('class_cover_admin_create_school') }}">
                        <div class="form-group">
                            <label for="centre_name">Centre Name</label>
                            <input type="text" class="form-control" id="centre_name" name="centre_name" placeholder="eg. Acmena JJC">
                        </div>
                        <div class="form-group">
                            <label for="centre_sms_name">Centre ShortName <small>(SMS Name)</small></label>
                            <input type="text" class="form-control" id="centre_sms_name" name="centre_sms_name" placeholder="eg. Acmena">
                        </div>
                        <div class="form-group">
                            <label for="centre_email">Centre Email <small>(Admin username)</small></label>
                            <input type="email" class="form-control" id="centre_email" name="centre_email" placeholder="eg. acmena@...com.au">
                        </div>
                        <div class="form-group">
                            <label for="centre_phone">Centre Phone Number <small>(AU local format)</small></label>
                            <input type="tel" class="form-control" id="centre_phone" name="centre_phone" placeholder="eg. 0410229883">
                        </div>
                        <a href="{{ path('class_cover_admin_school') }}" type="submit" class="btn btn-default pull-left">Go Back</a>
                        <button type="submit" class="btn btn-success pull-right">Save</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
{% endblock %}