{% extends '::base.html.twig' %}
{%  block body %}
    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <a class="navbar-brand" href="#">
                {% image '@ClassCoverAdminBundle/Resources/public/images/djj-logo.jpg'  output="img/logo.jpg" %}
                    <img src="{{ asset_url }}" alt="Department Of Juvenile Justice - NSW" style="width:100px; height:40px; margin-top:-10px;">
                {% endimage %}
            </a>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li {% if app.request.attributes.get('_route') == 'class_cover_admin_homepage' %}class="active"{% endif %}>
                        <a href="{{ path('class_cover_admin_homepage') }}">Dashboard</a>
                    </li>
                    <li {% if app.request.attributes.get('_route') == 'class_cover_admin_school' %}class="active"{% endif %}>
                        <a href="{{ path('class_cover_admin_school') }}">Centres</a>
                    </li>
                    <li {% if app.request.attributes.get('_route') == 'class_cover_admin_centre' %}class="active"{% endif %}>
                        <a href="{{ path('class_cover_admin_centre') }}">Casuals</a>
                    </li>
                    <li {% if app.request.attributes.get('_route') == 'admin_announcement' %}class="active"{% endif %}>
                        <a href="{{ path('admin_announcement') }}">Announcements</a>
                    </li>
                    {#<li {% if app.request.attributes.get('_route') == 'class_cover_admin_users' %}class="active"{% endif %}>
                        <a href="{{ path('class_cover_admin_users') }}">Users</a>
                    </li>#}
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Options <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Support</a></li>
                            <li><a href="#">My Profile</a></li>
                            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                <li role="separator" class="divider"></li>
                                <li><a href="{{ path('fos_user_security_logout') }}">Sign Out</a></li>
                            {% endif %}
                        </ul>
                    </li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>
    <div class="container">
        {% block container %}{% endblock %}
    </div> <!-- /container -->
{% endblock %}



