{% extends 'ClassCoverSchoolBundle:Default:layout.html.twig' %}
{% block container %}
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Centre Additional Users</h3>
            </div>
            <div class="panel-body">
                {% if entities|length>0 %}
                <table class="table table-condensed records_list">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Centre Admin</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for entity in entities %}
                        <tr {% if entity.getUser().getId() == app.user.id %}class="success"{% endif %}>
                            <td>{{ entity.firstName }} {{ entity.surname }}</td>
                            <td>{{ entity.getUser().getEmail() }}</td>
                            <td>{{ entity.phone }}</td>
                            <td>
                                {% if entity.getUser().getId() == app.user.id %}
                                    -
                                {% else %}
                                    {% if entity.getUser().hasRole('ROLE_SCHOOL_ADMIN') %}
                                        <input type="checkbox" class="admin-handler" data-id="{{ entity.getId() }}" checked />
                                    {% else %}
                                        <input type="checkbox" class="admin-handler" data-id="{{ entity.getId() }}" />
                                    {% endif %}
                                {% endif %}
                            </td>
                            <td>
                                {% if entity.getUser().getId() == app.user.id %}
                                    -
                                {% else %}
                                    <a href="{{ path('school_config_additional-users_delete', { 'id': entity.getId() }) }}">Remove</a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% else %}
                    <div class="well"><h3 class="text-center">There are no additional users added yet.</h3></div>
                {% endif %}
                <a href="{{ path('school_config_additional-users_new') }}" class="btn btn-primary btn-sm pull-right">Create</a>
            </div>
        </div>
    </div>
    {% javascripts
        '@ClassCoverSchoolBundle/Resources/public/js/classcover-school-additional-users.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
