{% extends 'ClassCoverSchoolBundle:Default:layout.html.twig' %}
{% block container %}
    <div class="col-md-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Centre Additional Users</h3>
            </div>
            <div class="panel-body">
                {% form_theme form 'bootstrap_3_layout.html.twig' %}
                {{ form(form) }}
                <ul class="record_actions">
                    <li>
                        <a href="{{ path('school_config_additional-users') }}">
                            Back to the list
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-4">

    </div>
{% endblock %}
