{% extends 'ClassCoverSchoolBundle:Default:layout.html.twig' %}
{% block container %}
    <div class="col-md-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Edit <strong>{{ entity.firstName }} {{ entity.surname }}</strong> details</h3>
            </div>
            <div class="panel-body">
                <table class="table tabler-bordered record_properties">
                    <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ entity.id }}</td>
                    </tr>
                    <tr>
                        <th>Firstname</th>
                        <td>{{ entity.firstName }}</td>
                    </tr>
                    <tr>
                        <th>Surname</th>
                        <td>{{ entity.surname }}</td>
                    </tr>
                    <tr>
                        <th>Phone</th>
                        <td>{{ entity.phone }}</td>
                    </tr>
                    </tbody>
                </table>

                <ul class="record_actions">
                    <li>
                        <a href="{{ path('school_config_additional-users') }}">
                            Back to the list
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('school_config_additional-users_edit', { 'id': entity.id }) }}">
                            Edit
                        </a>
                    </li>
                    <li>{{ form(delete_form) }}</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        {# <div class="panel panel-default">
             <div class="panel-heading">
                 <h3 class="panel-title">Get Support</h3>
             </div>
             <div class="panel-body">
                 If you have any questions or require assistance, please contact <a href="mailto:support@classcover.com.au">support@classcover.com.au</a> or view the Training Documents at <a href="//classcoverdjj.freshdesk.com">classcoverdjj.freshdesk.com</a>
             </div>
         </div>#}
    </div>
{% endblock %}