<html>
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
</head>
<body>
<table width="100%" cellpadding="10" cellspacing="0">
    <tr>
        <td>Hi {{ casualFirstName }}</td>
    </tr>
    <tr>
        <td>
            This is an email confirming you have been booked for a shift by {{ schoolName }}.<br />
            Shift Date: {{ bookingDate }}<br />
            Shift Type: {{ shiftType|capitalize  }}<br />
            Shift time: {{ shiftTime }} <br /><br />
            View more details about this <a href="http://djj.classcover.com.au/school/calendar">booking</a><br /><br/>
            If you have any questions, please contact {{ schoolName }} directly on {{ schoolContactNumber }}
            <br /><br />
            Regards,<br />
            The GoShift Team<br />
            Support: Visit <a href="http://classcoverdjj.freshdesk.com">classcoverdjj.freshdesk.com</a><br />
        </td>
    </tr>
</table>
</body>
</html>