<html>
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
</head>
<body>
<table width="100%" cellpadding="10" cellspacing="0">
    <tr>
        <td>This is confirmation of a booking that was just made.</td>
    </tr>
    <tr>
        <td>
            Shift Date: {{ bookingDate }}<br />
            Shift Type: {{ shiftType|capitalize  }}<br />
            Shift time: {{ shiftTime }}<br />
            Casual Booked: {{ bookedCasualName }}<br />
            Booked By: {{ bookedBy }}<br /><br />

            View more details about this <a href="http://djj.classcover.com.au/school/calendar">booking</a>.<br /><br />

            Regards,<br /><br />

            The GoShift Team<br />
            Support: Visit <a href="https://classcoverdjj.freshdesk.com">classcoverdjj.freshdesk.com</a><br />
        </td>
    </tr>
</table>
</body>
</html>