{% extends 'ClassCoverSchoolBundle:Default:layout.html.twig' %}
{% block container %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title"><span style="font-size: 20px; font-weight: 400;" class="section-title"></span></h3>
        </div>
        <div class="panel-body">
            <input type="hidden" id="default-date-for-search" value="{{ 'now'|date('Y-m-d') }}" />
            <div class="sbp sub-page-book-via-sms">{% include 'ClassCoverSchoolBundle:Partials/Book:book-via-sms.html.twig' %}</div>
            <div class="sbp sub-page-ta-main">{% include 'ClassCoverSchoolBundle:Partials/Book:teacher-availability.html.twig' %}</div>
            <div class="sbp sub-page-school-booking-history">{% include 'ClassCoverSchoolBundle:Partials/Book:sms-history.html.twig' %}</div>
        </div>
    </div>

    <!-- Generate SMS Booking Request Confirmation  -->
    <div class="modal fade" id="book-request-confirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">SMS Booking Request Confirmation</h4>
                </div>
                <div class="modal-body">
                    <p>You are about to send an <strong>SMS request</strong>. Please <strong>confirm</strong> the following details are correct:</p>
                    <p class="book-request-info">
                        <ul>
                            <li><strong>Shift Date:</strong> <span class="shift-date-prompt"></span></li>
                            <li><strong>Shift Type:</strong> <span class="shift-type-prompt"></span></li>
                            <li><strong>Shift Time:</strong> <span class="shift-from-prompt"></span> to <span class="shift-to-prompt"></span></li>
                            <li><strong>Casuals:</strong> <span class="shift-casuals-prompt"></span></li>
                        </ul>
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger book-request abort" data-dismiss="modal">Amend</button>
                    <button type="button" class="btn btn-primary book-request confirm">Confirm & Send</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Override SMS BOOKING -->
    <div class="modal fade" id="confirm-override">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Manual Override Reason</h4>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="auth_by">Authorised by:</label>
                            <input type="text" id="manual-override-by" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="auth_reason">Please state the reason for manual override:</label>
                            <textarea class="form-control" id="manual-override-reason" rows="2"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger book-via-sms override-abort" data-dismiss="modal">Abort Override</button>
                    <button type="button" class="btn btn-primary book-via-sms override-confirm">Confirm Override</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal Override Manual Booking -->
        <div class="modal fade" id="confirm-override-manual">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Manual Override Reason</h4>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <label for="auth_by">Authorised by:</label>
                                <input type="text" id="manual-booking-override-by" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="auth_reason">Please state the reason for manual override:</label>
                                <textarea class="form-control" id="manual-booking-override-reason" rows="2"></textarea>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger book-manually override-abort" data-dismiss="modal">Abort Override</button>
                        <button type="button" class="btn btn-primary book-manually override-confirm">Confirm Override</button>
                    </div>
                </div>
            </div>
        </div>
    <!-- Cancel SMS Booking Prompt -->
    <div class="modal fade" id="confirm-sms-booking-cancel">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Cancel SMS Booking</h4>
                </div>
                <div class="modal-body">
                   <p>All SMS's not yet sent will be stopped and the booking will be closed to any replies. Are you sure you wish to cancel this booking request?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger book-via-sms booking-cancel-abort" data-dismiss="modal">Abort Cancellation</button>
                    <button type="button" class="btn btn-primary book-via-sms booking-cancel-confirm">Confirm Cancellation</button>
                </div>
            </div>
        </div>
    </div>
    <!-- End Cancel SMS Booking Prompt -->
    <div class="modal fade" id="confirm-change-booking-parameters">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Update/Cancel Booking</h4>
                </div>
                <div class="modal-body">
                    {% include 'ClassCoverSchoolBundle:Partials/Book:book-update.html.twig' %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger book-via-sms booking-update-cancel-confirm">Cancel Booking</button>
                    <button type="button" class="btn btn-primary book-via-sms booking-update-confirm">Update Booking</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal Booking Prompt for Casual -->
        <div class="modal fade" id="confirm-booking-override-manual">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Booking Confirmation</h4>
                    </div>
                    <div class="modal-body">
                        {% include 'ClassCoverSchoolBundle:Partials/Book:book-manually.html.twig' %}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger book-manually booking-override-abort" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-primary book-manually booking-override-confirm">Confirm Booking</button>
                    </div>
                </div>
            </div>
        </div>
    <!-- End Modal Booking Prompt -->
    <!-- Modal Booking Prompt for Casual -->
    <div class="modal fade" id="confirm-large-booking-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Confirmation</h4>
                </div>
                <div class="modal-body">
                    <p class="text-danger">The shift request you are about to create is greater than 10 hours. Please confirm to proceed or amend this shift length.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Amend</button>
                    <button type="button" class="btn btn-primary" id="confirm-large-booking">Confirm</button>
                </div>
            </div>
        </div>
    </div>
    <!-- End Modal Booking Prompt -->
    {% javascripts
        '@ClassCoverSchoolBundle/Resources/public/js/classcover-school-book.js'
        '@ClassCoverSchoolBundle/Resources/public/js/classcover-school-sms-book.js'
        '@ClassCoverSchoolBundle/Resources/public/js/classcover-school-manual-book.js'
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
