{% if bookings|length>0 %}
    <table class="table table-responsive table-bordered table-striped">
        <thead>
        <tr>
            <th>Created On</th>
            <th>Created By</th>
            <th>Status</th>
            <th>Shift Date(s)</th>
            <th>Time From</th>
            <th>Time To</th>
            <th>Required/Booked</th>
            <td></td>
        </tr>
        </thead>
        <tbody>
        {% for booking in bookings  %}
            <tr>
                <td>{{ booking.created }}</td>
                <td>{{ booking.created_by }}</td>
                <td>
                    {% if booking.status == 'completed' %}
                        <span class="label label-success">{{ booking.status|capitalize }}</span>
                    {% elseif booking.status == 'unfilled' %}
                        <span class="label label-danger">{{ booking.status|capitalize }}</span>
                    {% elseif booking.status == 'cancelled' %}
                        <span class="label label-default">{{ booking.status|capitalize }}</span>
                    {% else %}
                        <span class="label label-warning">{{ booking.status|capitalize }}</span>
                    {% endif %}
                </td>
                <td>
                    {% if booking.shift_date_start == booking.shift_date_end %}
                        {{ booking.shift_date_start }}
                     {% else %}
                        {{ booking.shift_date_start }} - {{ booking.shift_date_end }}
                    {% endif %}
                </td>
                <td>{{ booking.shift_hour_start }}</td>
                <td>{{ booking.shift_hour_end }}</td>
                <td>{{ booking.teachers_requested }}/{{ booking.teachers_booked }}</td>
                <td class="spec-actions">
                    {% if booking.status == 'pending' or booking.status == 'new' %}
                        <button class="btn btn-xs btn-danger cancel-booking" type="button" data-booking-id="{{ booking.id }}">Cancel</button>
                    {% endif %}
                    <button class="btn btn-xs btn-success expand-booking" type="button" data-booking-id="{{ booking.id }}">View</button>
                </td>
            </tr>
            <tr id="bs_{{ booking.id }}" class="row-booking-sms-list">
                <td colspan="8">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <h4>
                                {{ booking.shift_type }} Shift at {{ booking.school_requested }}
                                {% if booking.shift_date_start == booking.shift_date_end %}
                                    on {{ booking.shift_date_start }} {{ booking.shift_hour_start }} - {{ booking.shift_hour_end }}
                                {% else %}
                                    from {{ booking.shift_date_start }} {{ booking.shift_hour_start }} to {{ booking.shift_date_end }} {{ booking.shift_hour_end }}
                                {% endif %}
                            </h4>
                            <p><strong>Booking Reference #:</strong> {{ booking.id }}</p>
                            <p><strong>SMS Content:</strong> {{ booking.sms_text }}</p>
                            <p><strong>Accept keyword:</strong> Y{{ booking.keyword }}</p>
                            <p><strong>Decline keyword:</strong> N{{ booking.keyword }}</p>
                            {% set currentValue = (100/booking.teachers_requested)*booking.teachers_booked %}
                            {% if (booking.teachers_requested == booking.teachers_booked) %} {% set currentValue = 100 %}{% endif %}
                            <div class="progress" style="width:300px;">
                                <div class="progress-bar progress-bar-primary active" role="progressbar" aria-valuenow="{{ booking.teachers_booked }}" aria-valuemin="0" aria-valuemax="{{ booking.teachers_requested }}" style="width: {{ currentValue }}%">
                                    <span>{{ ((currentValue/10)|number_format)*10 }}%</span>
                                </div>
                            </div>
                            <span>
                                {% set casual = 'casuals' %}
                                {% if booking.teachers_booked > 0 %}
                                    {{ booking.teachers_booked }}
                                    {% if booking.teachers_booked == 1 %} {% set casual = 'casual' %} {% endif %}
                                {% else %}
                                    No
                                {% endif %}
                                {{ casual }} booked of {{ booking.teachers_requested }} requested.
                            </span>
                        </div>
                    </div>
                    <table class="table table-condensed pull-right booking-sms-list-table">
                        <thead>
                            <tr>
                                <th class="casual">Casual</th>
                                <th>Phone</th>
                                <th>SMS Status</th>
                                <th>Sent At</th>
                                <th>Response</th>
                                <th>Response Time</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for smsRequest in booking.sms_list %}
                            <tr>
                                <td class="casual"><a href="" data-teacher-id="{{ smsRequest.getTeacher().getId() }}">{{ smsRequest.getTeacher().getFirstName() }} {{ smsRequest.getTeacher().getSurname() }}</a></td>
                                <td>{{ smsRequest.getToNumber()|phoneNumberToNational }}</td>
                                <td>
                                    {% if smsRequest.getSmsStatus() == "sent" %}
                                        <span class="label label-success">{{ smsRequest.getSmsStatus() }}</span>
                                    {% else %}
                                        {% if smsRequest.getSkipped() == 1 or smsRequest.getPostponed() == 1 %}
                                            <span class="label label-danger">{{ smsRequest.getObservations()|observationTitle }}</span>
                                        {% else %}
                                            <span class="label label-warning">{{ smsRequest.getSmsStatus() }}</span>
                                        {% endif %}
                                    {% endif %}
                                </td>
                                <td>
                                    {% if smsRequest.getSentAt() != null and smsRequest.getSkipped() != 1 %}
                                        {{ smsRequest.getSentAt().format('d/m H:i') }}
                                        {% else %}
                                            {% if smsRequest.getSkipped() != 1 %}<span class="text-danger">*Scheduled for {{ smsRequest.getSendTime().format("d/m H:i") }}</span>{% endif %}
                                    {% endif %}
                                </td>
                                <td>
                                    {% if smsRequest.getResponse() == "booked" %}
                                        <span class="label label-success">{{ smsRequest.getResponse() }}</span>
                                    {% elseif smsRequest.getResponse() == "declined" %}
                                        <span class="label label-danger">{{ smsRequest.getResponse() }}</span>
                                    {% elseif (smsRequest.getResponse() == "none" or smsRequest.getResponse() == "") and (smsRequest.getSmsStatus == "sent") %}
                                        <span class="label label-warning">waiting</span>
                                    {% elseif smsRequest.getResponse() == "unanswered" %}
                                        <span class="label label-danger">{{ smsRequest.getResponse() }}</span>
                                    {% elseif smsRequest.getResponse() == "accepted" %}
                                        <span class="label label-primary">{{ smsRequest.getResponse() }}</span>
                                    {% endif %}
                                </td>
                                <td>{% if smsRequest.getResponseTime() != null %}{{ smsRequest.getResponseTime().format('d/m H:i') }}{% endif %}</td>
                                <td>
                                    {{ smsRequest.getObservations()|observationContent }}
                                </td>
                            </tr>
                        {% endfor %}
                        {% if booking.excluded_total > 0 %}

                            {% if booking.excluded_parsed == 0 %}
                                <tr>
                                    <td colspan="7" style="text-align: left;">
                                        <strong class="text-danger">Excluded Casuals</strong><br />
                                        If no responses, then the following casuals in the Exclusion list will be offered:
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="7" style="text-align: left;">
                                        <strong class="text-danger">Excluded Casuals</strong><br />
                                        As there were no responses from the Available casuals, all those in the Exclusions were offered:
                                    </td>
                                </tr>
                            {% endif %}

                            {% for smsRequest in booking.sms_list_excluded %}
                                <tr>
                                    <td class="casual"><a href="" data-teacher-id="{{ smsRequest.getTeacher().getId() }}">{{ smsRequest.getTeacher().getFirstName() }} {{ smsRequest.getTeacher().getSurname() }}</a></td>
                                    <td>{{ smsRequest.getToNumber()|phoneNumberToNational }}</td>
                                    <td>
                                        {% if smsRequest.getSmsStatus() == "sent" %}
                                            <span class="label label-success">{{ smsRequest.getSmsStatus() }}</span>
                                        {% else %}
                                            {% if smsRequest.getSkipped() == 1 or smsRequest.getPostponed() == 1 %}
                                                <span class="label label-danger">{{ smsRequest.getObservations()|observationTitle }}</span>
                                            {% else %}
                                                <span class="label label-warning">{{ smsRequest.getSmsStatus() }}</span>
                                            {% endif %}
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if smsRequest.getSentAt() != null %}
                                            {{ smsRequest.getSentAt().format('d/m H:i') }}
                                        {% else %}
                                            {% if smsRequest.getSkipped() != 1 %}<span class="text-danger">*Scheduled for {{ smsRequest.getSendTime().format("d/m H:i") }}</span>{% endif %}
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if smsRequest.getResponse() == "booked" %}
                                            <span class="label label-success">{{ smsRequest.getResponse() }}</span>
                                        {% elseif smsRequest.getResponse() == "declined" %}
                                            <span class="label label-danger">{{ smsRequest.getResponse() }}</span>
                                        {% elseif (smsRequest.getResponse() == "none" or smsRequest.getResponse() == "") and (smsRequest.getSmsStatus == "sent") %}
                                            <span class="label label-warning">waiting</span>
                                        {% elseif smsRequest.getResponse() == "unanswered" %}
                                            <span class="label label-danger">{{ smsRequest.getResponse() }}</span>
                                        {% elseif smsRequest.getResponse() == "accepted" %}
                                            <span class="label label-primary">{{ smsRequest.getResponse() }}</span>
                                        {% endif %}
                                    </td>
                                    <td>{% if smsRequest.getResponseTime() != null %}{{ smsRequest.getResponseTime().format('d/m H:i') }}{% endif %}</td>
                                    <td>
                                        {{ smsRequest.getObservations()|observationContent }}
                                    </td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                        </tbody>
                    </table>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <script type="text/javascript">
        $('[data-toggle="popover"]').popover({
            container: 'body'
        });
    </script>
{% endif %}