{% for teacher in teachers  %}
    <tr data-teacher-id="{{ teacher.getId() }}" data-teacher-name="{{ teacher.getFirstName() ~ ' ' ~ teacher.getSurname() }}">
        <td scope="row">{{ teacher.meritOrder }}</td>
        <td style="text-align: left;">
            <a href="#">
                {{ teacher.getFirstName() ~ ' ' ~ teacher.getSurname() }}
            </a>
        </td>
        <td nowrap="nowrap">{{ teacher.getPhone()|phoneNumberToNational }}</td>
        {% for key, value in teacher.availabilityData %}
            <td class="av-cell {% if (value['bit'][0] != '0') %}non-vacant{% endif %}" data-entity-id="{% if value['entityIds'][0] is defined %}{{ value['entityIds'][0] }}{% else %}null{% endif %}"  data-start-hour="{{ key }}">
                {{ value['bit']|availabilityFrontValue }}
            </td>
        {% endfor %}
    </tr>
{% endfor %}