<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

    {% stylesheets '@bootstrap_css' %}
    <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}"/>
    {% endstylesheets %}

    <link rel="stylesheet" href="{{ asset('assets/vendor/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('assets/vendor/jquery-ui/themes/smoothness/jquery-ui.css') }}" />
    <link rel="stylesheet" href="{{ asset('assets/vendor/jquery-ui/themes/smoothness/theme.css') }}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap3-dialog/1.34.5/css/bootstrap-dialog.min.css" />
    <link rel="stylesheet" href="{{ asset('assets/vendor/fullcalendar/dist/fullcalendar.css') }}" />
    <link rel="stylesheet" href="{{ asset('assets/vendor/fullcalendar/dist/fullcalendar.print.css') }}" media="prin" />

    {% stylesheets '@ClassCoverAppBundle/Resources/public/css/*' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

    {% javascripts '@jquery' '@bootstrap_js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script type="text/javascript" src="{{ asset('assets/vendor/jquery-ui/jquery-ui.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/vendor/moment/min/moment.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/vendor/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js') }}"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap3-dialog/1.34.5/js/bootstrap-dialog.min.js"></script>
    <script type="text/javascript" src="{{ asset('assets/vendor/fullcalendar/dist/fullcalendar.js') }}"></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
    <script type="text/javascript">
        window.schoolId = {% if app.session.has('school') %}{{ app.session.get('school').getId() }}{% else %}null{% endif %};
        window.teacherId = {% if app.session.has('teacher') %}{{ app.session.get('teacher').getId() }}{% else %}null{% endif %};
        window.adminId = {% if app.session.has('admin') %}{{ app.session.get('admin').getId() }}{% else %}null{% endif %};
    </script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
    {% javascripts '@ClassCoverAppBundle/Resources/public/js/classcover.js'
    '@ClassCoverAppBundle/Resources/public/js/bootstrap-switch.js'%}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
</head>
<body>
{% if app.request.hasPreviousSession %}
    {% for type, messages in app.session.flashbag.all() %}
        {% for message in messages %}
            <div class="flash-{{ type }}">
                <span class="text-danger">{{ message }}</span>
            </div>
        {% endfor %}
    {% endfor %}
{% endif %}

<br />
<div>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Request password reset</h3>
                    </div>
                    <div class="panel-body">
                        {% image '@ClassCoverAdminBundle/Resources/public/images/rsz-justice-logo.png' output="img/logo.jpg" %}
                        <p><img src="{{ asset_url }}" alt="Department Of Juvenile Justice - NSW"></p>
                        {% endimage %}
                        {% block fos_user_content %}
                            {% include "FOSUserBundle:Resetting:request_content.html.twig" %}
                        {% endblock fos_user_content %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>

