
#availability-table {

}

#availability-table td,
#availability-table th {
    text-align: center;
}

#availability-table th {
    border-top: solid 1px #CCC;
    border-left: solid 1px #CCC;
    border-right: solid 1px #CCC;
    border-bottom: solid 1px #CCC;
}

#availability-table td {
    border-left: solid 1px #CCC;
    border-right: solid 1px #CCC;
    border-bottom: solid 1px #CCC;
}

#availability-table td.av-cell {
    color:#fff;
    background-color: #BC9F1D;
    white-space: nowrap;
    text-align: center;
}

#availability-table td.av-cell.non-vacant {
    background-color: #553F00;
}


.current-date-display {
    font-weight: bold;
}

.second-status {
    color:#f8f8f8;
}

table.sms-availability-table th {
    text-align: center;
}

table.sms-availability-table td.contact {
    width: 60px;
    text-align: center;
}

table.sms-availability-table td.delay {
    text-align: center;
}

.request-delay {
    text-align: center;
}

a.teacher-link {
    color:darkblue;
    font-size:16px;
}

.spec-actions .btn-label {position: relative;left: -12px;display: inline-block;padding: 6px 12px;background: rgba(0,0,0,0.15);border-radius: 3px 0 0 3px;}
.spec-actions .btn-labeled {padding-top: 0;padding-bottom: 0;}
.spec-actions .btn { margin-bottom:10px; }

.row-booking-sms-list {
    display: none;
}

.booking-sms-list-table {
    font-size:12px;
}

.booking-sms-list-table td,
.booking-sms-list-table th {
    text-align: center;
}

.booking-sms-list-table td.casual,
.booking-sms-list-table th.casual {
    text-align: left;
}

.sub-page-school-booking-history {
    display: none;
}

.book-via-sms.booking-ok {
    display: none;
}

.book-via-sms.submit {
    display: none;
}

.ua-in-hist-states {
    font-size: 11px;
    list-style-type: none;
}

.display-order-edit {
    width: 50px;
    height: 25px;
    text-align: center;
    font-size:12px;
}

.registered-teachers-table th {
    text-align:center;
}

.sub-page-book-manually {
    display: none;
}

.manual-pickers {
    width: 50px;
}

.info-place {
    font-size:14px !important;
}

.book-manually-shift-list-pickers.datepicker,
.book-manually-update-shift-list-pickers.datepicker {
    z-index: 100000 !important;
}

.shift-type-choice {
    z-index: 100001 !important;
}

.calendar-report-pickers.date-from,
.calendar-report-pickers.date-to {
    z-index: 100001 !important;
}

label.book-manually {
    white-space: nowrap;
}

.booking-error, .booking-ok {
    display:none;
}

.sorting-arrow {
    display:none;
}

a.ordering-arrow {
    font-size: 20px;
    text-decoration: none;
    text-align: center;
    color:darkred;
    cursor: hand;
}

a:hover.ordering-arrow {
    text-decoration: none;
    cursor: hand;
    color:darkred;
}

.remove-sl-item {
    display: none;
}

.table tbody>tr>td.vert-align{
    vertical-align: middle;
}

.global-delay {
    display: none;
}

.admin-handler.na {
    display:none;
}

#sms-booking-request-loading {
    display:none;
}

#manual-override-function {
    display: none;
}

.sms-booking-sl-alerts {
    display:none;
}

#school-panel-announcement, 
#teacher-panel-announcement {
    display: none;
}