{% extends 'ClassCoverSchoolBundle:Default:layout.html.twig' %}
{% block container %}
    <div class="col-md-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Edit Centre</h3>
            </div>
            <div class="panel-body">
                {% form_theme edit_form 'bootstrap_3_layout.html.twig' %}
                {{ form(edit_form) }}
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Get Support</h3>
            </div>
            <div class="panel-body">
                If you have any questions or require assistance, please contact <a href="mailto:support@classcover.com.au">support@classcover.com.au</a> or view the Training Documents at <a href="//classcoverdjj.freshdesk.com">classcoverdjj.freshdesk.com</a>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Additional users</h3>
            </div>
            <div class="panel-body">
                <a href="{{ path('school_config_additional-users') }}" class="btn btn-success">Manage Additional users</a>
            </div>
        </div>
    </div>
{% endblock %}
