{% extends 'ClassCoverSchoolBundle:Default:layout.html.twig' %}
{% block container %}
    <div class="col-md-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Centre Additional Users</h3>
            </div>
            <div class="panel-body">
                <h1>AdditionalUsers</h1>

                <table class="table tabler-bordered record_properties">
                    <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ entity.id }}</td>
                    </tr>
                    <tr>
                        <th>Firstname</th>
                        <td>{{ entity.firstName }}</td>
                    </tr>
                    <tr>
                        <th>Surname</th>
                        <td>{{ entity.surname }}</td>
                    </tr>
                    <tr>
                        <th>Phone</th>
                        <td>{{ entity.phone }}</td>
                    </tr>
                    </tbody>
                </table>

                <ul class="record_actions">
                    <li>
                        <a href="{{ path('school_config_additional-users') }}">
                            Back to the list
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('school_config_additional-users_edit', { 'id': entity.id }) }}">
                            Edit
                        </a>
                    </li>
                    <li>{{ form(delete_form) }}</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        {# <div class="panel panel-default">
             <div class="panel-heading">
                 <h3 class="panel-title">Get Support</h3>
             </div>
             <div class="panel-body">
                 If you have any questions or require assistance, please contact <a href="mailto:support@classcover.com.au">support@classcover.com.au</a> or view the Training Documents at <a href="//classcoverdjj.freshdesk.com">classcoverdjj.freshdesk.com</a>
             </div>
         </div>#}
    </div>
{% endblock %}

{% block body -%}
    <h1>School list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Shortname</th>
                <th>Phone</th>
                <th>Email</th>
                <th>Additionalemail</th>
                <th>Addressstreet</th>
                <th>Addresscity</th>
                <th>Addressstate</th>
                <th>Addresscountry</th>
                <th>Addresspostcode</th>
                <th>Latitude</th>
                <th>Longitude</th>
                <th>Website</th>
                <th>Studentnumber</th>
                <th>Principal</th>
                <th>Casualteacheradmin</th>
                <th>Casualteacheradminphone</th>
                <th>Casualteacheradminemail</th>
                <th>Accesstype</th>
                <th>Howdidyouheartext</th>
                <th>Timezoneid</th>
                <th>Createdon</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('school_config_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.name }}</td>
                <td>{{ entity.shortName }}</td>
                <td>{{ entity.phone }}</td>
                <td>{{ entity.email }}</td>
                <td>{{ entity.additionalEmail }}</td>
                <td>{{ entity.addressStreet }}</td>
                <td>{{ entity.addressCity }}</td>
                <td>{{ entity.addressState }}</td>
                <td>{{ entity.addressCountry }}</td>
                <td>{{ entity.addressPostCode }}</td>
                <td>{{ entity.latitude }}</td>
                <td>{{ entity.longitude }}</td>
                <td>{{ entity.website }}</td>
                <td>{{ entity.studentNumber }}</td>
                <td>{{ entity.principal }}</td>
                <td>{{ entity.casualTeacherAdmin }}</td>
                <td>{{ entity.casualTeacherAdminPhone }}</td>
                <td>{{ entity.casualTeacherAdminEmail }}</td>
                <td>{{ entity.accessType }}</td>
                <td>{{ entity.howDidYouHearText }}</td>
                <td>{{ entity.timezoneId }}</td>
                <td>{% if entity.createdOn %}{{ entity.createdOn|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('school_config_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('school_config_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('school_config_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
