{% extends '::base.html.twig' %}

{% block body -%}
    <h1>School</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ entity.name }}</td>
            </tr>
            <tr>
                <th>Shortname</th>
                <td>{{ entity.shortName }}</td>
            </tr>
            <tr>
                <th>Phone</th>
                <td>{{ entity.phone }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ entity.email }}</td>
            </tr>
            <tr>
                <th>Additionalemail</th>
                <td>{{ entity.additionalEmail }}</td>
            </tr>
            <tr>
                <th>Addressstreet</th>
                <td>{{ entity.addressStreet }}</td>
            </tr>
            <tr>
                <th>Addresscity</th>
                <td>{{ entity.addressCity }}</td>
            </tr>
            <tr>
                <th>Addressstate</th>
                <td>{{ entity.addressState }}</td>
            </tr>
            <tr>
                <th>Addresscountry</th>
                <td>{{ entity.addressCountry }}</td>
            </tr>
            <tr>
                <th>Addresspostcode</th>
                <td>{{ entity.addressPostCode }}</td>
            </tr>
            <tr>
                <th>Latitude</th>
                <td>{{ entity.latitude }}</td>
            </tr>
            <tr>
                <th>Longitude</th>
                <td>{{ entity.longitude }}</td>
            </tr>
            <tr>
                <th>Website</th>
                <td>{{ entity.website }}</td>
            </tr>
            <tr>
                <th>Studentnumber</th>
                <td>{{ entity.studentNumber }}</td>
            </tr>
            <tr>
                <th>Principal</th>
                <td>{{ entity.principal }}</td>
            </tr>
            <tr>
                <th>Casualteacheradmin</th>
                <td>{{ entity.casualTeacherAdmin }}</td>
            </tr>
            <tr>
                <th>Casualteacheradminphone</th>
                <td>{{ entity.casualTeacherAdminPhone }}</td>
            </tr>
            <tr>
                <th>Casualteacheradminemail</th>
                <td>{{ entity.casualTeacherAdminEmail }}</td>
            </tr>
            <tr>
                <th>Accesstype</th>
                <td>{{ entity.accessType }}</td>
            </tr>
            <tr>
                <th>Howdidyouheartext</th>
                <td>{{ entity.howDidYouHearText }}</td>
            </tr>
            <tr>
                <th>Timezoneid</th>
                <td>{{ entity.timezoneId }}</td>
            </tr>
            <tr>
                <th>Createdon</th>
                <td>{{ entity.createdOn|date('Y-m-d H:i:s') }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('school_config') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('school_config_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
