{% extends 'ClassCoverCyoBundle:Default:layout.html.twig' %}
{% block container %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title"><span style="font-size: 20px; font-weight: 400;" class="section-title">Booking Calendar</span></h3>
        </div>
        <div class="panel-body">
            <input type="hidden" id="default-date-for-search" value="{{ 'now'|date('Y-m-d') }}" />
            <div class="row">
                <div class="col-md-12">
                    <div id="calendar"></div>
                </div>
            </div>
        </div>
    </div>
    {% javascripts '@ClassCoverCyoBundle/Resources/public/js/classcover-teacher-home.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}