{% extends '::base.html.twig' %}
{%  block body %}
    <!-- Fixed navbar -->
    <nav class="navbar navbar-default">
        <div class="container">
                <ul class="nav navbar-nav">
                    <li>
                        {% image '@ClassCoverAdminBundle/Resources/public/images/rsz-justice-logo.png' output="img/logo.jpg" %}
                        <img src="{{ asset_url }}" alt="Department Of Juvenile Justice - NSW" style="padding-right: 5px;">
                        {% endimage %}
                    </li>
                    <li {% if app.request.attributes.get('_route') == 'class_cover_teacher_homepage' %}class="active"{% endif %}><a href="{{ path('class_cover_teacher_homepage') }}">Availability</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if app.session.has('loggedUserName') %}
                        <li><a href="javascript:void(0);"><small class="text-success">{{ app.session.get('loggedUserName') }}</small></a></li>
                    {% endif %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Settings <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a target="_blank" href="https://classcoverdjj.freshdesk.com">Support</a></li>
                            <li><a href="{{ path('teacher_account_edit', { 'id': app.session.get('teacher').getId() }) }}">My Account</a></li>
                            <li><a href="{{ path('class_cover_teacher_user_settings') }}">My Settings</a></li>
                            {#<li><a href="{{ path('teacher_settings_edit', { 'id': app.session.get('teacher').getId() })  }}">Teacher Settings</a></li>#}
                            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                <li role="separator" class="divider"></li>
                                {% if app.session.get('adminUserId')>0 %}
                                    <li><a href="{{ path('class_cover_admin_login_as', {userId : app.session.get('adminUserId')}) }}">Back to Admin</a></li>
                                {% endif %}
                                <li><a href="{{ path('fos_user_security_logout') }}">Sign Out</a></li>
                            {% endif %}
                        </ul>
                    </li>
                </ul>
        </div>
    </nav>
    <div class="container">
        <script type="text/javascript">
            ClassCover.initTeacherAnnouncementsChecker();
        </script>
        <div class="panel panel-primary" id="teacher-panel-announcement">
            <!-- Default panel contents -->
            <div class="panel-heading"></div>
            <div class="panel-body">
                <p></p>
            </div>
        </div>
        {% block container %}{% endblock %}
    </div>
{% endblock %}


