{% extends 'ClassCoverCyoBundle:Default:layout.html.twig' %}
{% block container %}
    <div class="row" xmlns="http://www.w3.org/1999/html">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Update Your Password</h3>
                </div>
                <div class="panel-body">
                    <p>Your username: {{ app.user.getEmail() }}</p>
                    <form action="{{ path('class_cover_teacher_user_settings') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password">
                        {{ form_widget(form) }}
                        <div>
                            <input class="btn btn-primary" type="submit" value="{{ 'change_password.submit'|trans({}, 'FOSUserBundle') }}" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
{% endblock %}