<div class="row">
    <div class="col-md-12">
        {% if teachers %}
            <table class="table table-hover sms-availability-table">
                <thead>
                    <tr><td colspan="6"><h3>CYO SMS Shortlist</h3></td></tr>
                    <tr><td colspan="6">CYOs in this list will be sent the SMS booking request in their Contact order, before engaging those in the 'Exclusion'.</td></tr>
                    <tr class="global-delay">
                        <td colspan="6">
                            <form class="form-inline">
                                <div class="form-group">
                                    <label for="default-global-delay">Default delay order between SMS (minutes) :</label>
                                    <input type="text" class="form-control" id="default-global-delay" value="5" style="width: 50px; text-align: center;">
                                </div>
                            </form>
                        </td>
                    </tr>
                </thead>
                <tbody>
                {% set lastDelay = 0 %}
                {% if teachers.available|length >0 %}
                    {% set lastDelay = teachers.available|last.default_delay %}
                    <tr><td colspan="6"><h3>Available</h3></td></tr>
                    <tr>
                        <th class="contact" style="white-space: nowrap;">Contact Order</th>
                        <th class="name" colspan="2"></th>
                        <th class="delay" style="text-align: left;">Delay between requests</th>
                        <th></th>
                        <th></th>
                    </tr>
                    {% for key,teacher in teachers.available %}
                        <tr class="sortable listing available-teachers-to-book" data-kr="{{ key }}" data-priority="{{ key }}" data-teacher-id="{{ teacher.internal_id }}" data-delay="{{ teacher.default_delay }}">
                            <td class="vert-align contact">
                                <span class="contact-order">{{ key }}</span>
                            </td>
                            <th><img class="img-thumbnail" src="https://openclipart.org/image/60px/svg_to_png/4749/acspike-male-user-icon.png" style="width: 60px; height: 60px;"></th>
                            <td class="vert-align name">
                                <a href="#" class="teacher-link" data-teacher-id="{{ teacher.internal_id }}">{{ teacher.name }}</a>
                                <br />
                                <small>{{ teacher.phone|phoneNumberToNational }}</small>
                                {% if teacher.on_shift %}
                                <p class="text-danger">(On-shift: Finishes on {{ teacher.on_shift.format('d/m H:i') }})</p>
                                {% endif %}
                                {% if teacher.overtime_hours > 0 %}
                                    <p><span class="label label-primary">Booked hours to date: {{ teacher.overtime_hours }}</span></p>
                                {% endif %}
                            </td>
                            <td class="vert-align delay"><input type="text" name="delay{{ key }}" class="form-control request-delay" readonly="readonly" value="{{ teacher.default_delay }}" style="width:50px;" /></td>
                            <td class="vert-align">
                                <span class="sorting-arrow">{% image '@ClassCoverAdminBundle/Resources/public/images/arrows.png' output="img/arrows.jpg" %}<img src="{{ asset_url }}">{% endimage %}</span>
                            </td>
                            <td class="vert-align"><button type="button" class="btn btn-xs btn-danger remove-sl-item" data-teacher-id="{{ teacher.internal_id }}">Remove</button></td>
                        </tr>
                    {% endfor %}
                {% endif %}
                {% if teachers.unavailable|length >0 %}
                    <tr><td colspan="6"><h3>Unavailable <small>(for this shift or within 8 hours of it)</small></h3></td></tr>
                    {% for key,teacher in teachers.unavailable %}
                        <tr>
                            <td class="vert-align contact">{{ key }}</td>
                            <td class="vert-align"><img class="img-thumbnail" src="https://openclipart.org/image/60px/svg_to_png/4749/acspike-male-user-icon.png" style="width: 60px; height: 60px;"></td>
                            <td class="vert-align name">
                                <a href="#" class="teacher-link" data-teacher-id="{{ teacher.internal_id }}">{{ teacher.name }}</a>
                                <br />
                                <small>{{ teacher.phone|phoneNumberToNational }}</small>
                                {% if teacher.on_shift %}
                                    <p class="text-danger">(On-shift: Finishes on {{ teacher.on_shift.format('d/m H:i') }})</p>
                                {% endif %}
                                {% if teacher.overtime_hours > 0 %}
                                    <p><span class="label label-primary">Booked hours to date: {{ teacher.overtime_hours }}</span></p>
                                {% endif %}
                            </td>
                            <td class="vert-align delay"><div style="width:50px;">&nbsp</div></td>
                            <td class="vert-align"></td>
                            <td class="vert-align"></td>
                        </tr>
                    {% endfor %}
                {% endif %}
                {% if teachers.excluded|length >0 %}
                    <tr><td colspan="6"><h3 style="color:red;">Exclusions</h3></td></tr>
                    <tr><td colspan="6">NB: Once the Available casuals have been sent an SMS shift request, all those in the Exclusions section will then receive an SMS at the same time. </td></tr>
                    {% for key,teacher in teachers.excluded %}
                        <tr class="excluded-teachers-to-book" data-teacher-id="{{ teacher.internal_id }}">
                            <td class="contact">{{ key }}</td>
                            <td class="vert-align"><img class="img-thumbnail" src="https://openclipart.org/image/60px/svg_to_png/4749/acspike-male-user-icon.png" style="width: 60px; height: 60px;"></td>
                            <td class="vert-align name">
                                <a href="#" class="teacher-link" data-teacher-id="{{ teacher.internal_id }}">{{ teacher.name }}</a>
                                <br />
                                <small>{{ teacher.phone }}</small>
                            </td>
                            {% if key == 0 %}
                                <td class="vert-align delay"><input type="text" name="delay{{ key }}" class="form-control request-delay" readonly="readonly" value="{{ lastDelay }}" style="width:50px;" /></td>
                            {% else %}
                                <td class="vert-align delay"><input type="text" name="delay{{ key }}" class="form-control request-delay" readonly="readonly" value="0" style="width:50px;" /></td>
                            {% endif %}
                            <td class="vert-align"></td>
                            <td class="vert-align"></td>
                        </tr>
                    {% endfor %}
                {% endif %}
                {% if teachers.overtime|length >0 %}
                    <tr><td colspan="6"><h3>Reached Overtime</h3></td></tr>
                    <tr>
                        <th class="contact" style="white-space: nowrap;">Contact Order</th>
                        <th class="name" colspan="2"></th>
                        <th></th>
                        <th></th>
                        <th class="add-to-shortlist" style="text-align: left;">Action</th>
                    </tr>
                    {% for key,teacher in teachers.overtime %}
                        <tr class="sortable listing overtime-teachers" data-kr="{{ key +  teachers.available|length }}" data-priority="{{ key +  teachers.available|length }}" data-teacher-id="{{ teacher.internal_id }}" data-delay="{{ teacher.default_delay }}">
                            <td class="vert-align contact">
                                <span class="contact-order">{{ key +  teachers.available|length }}</span>
                            </td>
                            <th><img class="img-thumbnail" src="https://openclipart.org/image/60px/svg_to_png/4749/acspike-male-user-icon.png" style="width: 60px; height: 60px;"></th>
                            <td class="vert-align name">
                                <a href="#" class="teacher-link" data-teacher-id="{{ teacher.internal_id }}">{{ teacher.name }}</a>
                                <br />
                                <small>{{ teacher.phone|phoneNumberToNational }}</small>
                                {% if teacher.on_shift %}
                                    <p class="text-danger">(On-shift: Finishes on {{ teacher.on_shift.format('d/m H:i') }})</p>
                                {% endif %}
                                {% if teacher.overtime_hours > 0 %}
                                    <p><span class="label label-primary">Booked hours to date: {{ teacher.overtime_hours }}</span></p>
                                {% endif %}
                            </td>
                            <td class="vert-align delay unhide-in-sl" style="display: none"><input type="text" name="delay{{ key }}" class="form-control request-delay" readonly="readonly" value="{{ teacher.default_delay }}" style="width:50px;" /></td>
                            <td class="vert-align unhide-in-sl" style="display: none">
                                <span class="sorting-arrow">{% image '@ClassCoverAdminBundle/Resources/public/images/arrows.png' output="img/arrows.jpg" %}<img src="{{ asset_url }}">{% endimage %}</span>
                            </td>
                            <td class="vert-align unhide-in-sl" style="display: none"><button type="button" class="btn btn-xs btn-danger remove-sl-item" data-teacher-id="{{ teacher.internal_id }}">Remove</button></td>
                            <th class="hide-in-sl"></th>
                            <th class="hide-in-sl"></th>
                            <td class="vert-align hide-in-sl"><button type="button" class="btn btn-xs btn-info add-sl-item" style="display: none" data-teacher-id="{{ teacher.internal_id }}">Add to Available list</button></td>
                        </tr>
                    {% endfor %}
                {% endif %}
                </tbody>
            </table>
        {% endif %}
    </div>
</div>
