{% extends 'ClassCoverSchoolBundle:Default:layout.html.twig' %}
{% block container %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title"><span style="font-size: 20px; font-weight: 400;" class="section-title">Your Registered Casuals</span></h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-10">
                    <a href="{{ path('class_cover_school_homepage') }}" role="link" class="btn btn-default">Book Casual(s)</a>
                    <a href="{{ path('class_cover_school_add_teacher') }}" role="link" class="btn btn-primary">Add Casual(s)</a>
                </div>
                <div class="col-md-2">
                    {#<button type="button" role="button" class="btn btn-success pull-right">Save Properties</button>#}
                </div>
            </div>
            <br />
            {% if registers|length > 0 %}
                <table class="table table-bordered table-hover registered-teachers-table">
                    <thead>
                        <tr>
                            <th align="center">Order</th>
                            <th></th>
                            <th>First Name</th>
                            <th>Surname</th>
                            <th>Phone</th>
                            <th>Email</th>
                            <th align="center">Sign Date</th>
                            <th align="center">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for register in registers %}
                        {% set disabled='' %}
                        {% set class='' %}
                        {% if register.getRemoved() > 0 %}
                            {% set disabled='disabled=disabled' %}
                            {% set class='class=danger' %}
                        {% elseif register.getSuspended() > 0 %}
                            {% set class='class=warning' %}
                        {% endif %}

                        <tr {{ class }} data-teacher-id="{{ register.getTeacher().getId() }}">
                            <td align="center">
                                <input type="text" disabled="disabled" property="displayOrder" data-teacher-id="{{ register.getTeacher().getId() }}" class="form-control display-order-edit" value="{{ register.getDisplayOrder() }}" />
                            </td>
                            <td class="sort-handler text-center">
                                <a class="ordering-arrow glyphicon glyphicon-resize-vertical"></a>
                            </td>
                            <td>{{ register.getTeacher().getFirstname() }}</td>
                            <td>{{ register.getTeacher().getSurname() }}</td>
                            <td>{{ register.getTeacher().getPhone()|phoneNumberToNational }}</td>
                            <td>{{ register.getTeacher().getEmail() }}</td>
                            <td align="center">{{ register.getTeacher().getCreatedOn()|date('d M Y') }}</td>
                            <td align="center">
                                {% if register.getRemoved() > 0 %}
                                    <button type="button" property="removed" data-teacher-id="{{ register.getTeacher().getId() }}" data-property-value="0" class="btn btn-xs btn-default property-handler">Reinstate</button>
                                {% else %}
                                    <button type="button" property="removed" data-teacher-id="{{ register.getTeacher().getId() }}" data-property-value="1" class="btn btn-xs btn-danger property-handler">Remove</button>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
    </div>
    {% javascripts
    '@ClassCoverSchoolBundle/Resources/public/js/classcover-school-teachers.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}