{% block subject %}Resetting your password{% endblock %}

{% block body_text %}
    {% autoescape false %}
        Hello {{ user.username }} !

        I see you have requested to reset your password. To do so, please click the link below or past it into your browser:

        {{ confirmationUrl }}

        Regards,

        The goShift Team
    {% endautoescape %}
{% endblock %}

{% block body_html %}
    Hello {{ user.username }} !

    I see you have requested to reset your password. To do so, please click the link below or past it into your browser:

    {{ confirmationUrl }}

    Regards,

    The goShift Team
{% endblock %}