{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Teacher list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Firstname</th>
                <th>Surname</th>
                <th>Email</th>
                <th>Additionalemail</th>
                <th>Photofile</th>
                <th>Addressstreet</th>
                <th>Addresscity</th>
                <th>Addressstate</th>
                <th>Addresscountry</th>
                <th>Addresspostcode</th>
                <th>Latitude</th>
                <th>Longitude</th>
                <th>Phone</th>
                <th>Alternativephone</th>
                <th>Gender</th>
                <th>Timezoneid</th>
                <th>Createdon</th>
                <th>Disabled</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('teacher_account_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.firstName }}</td>
                <td>{{ entity.surname }}</td>
                <td>{{ entity.email }}</td>
                <td>{{ entity.additionalEmail }}</td>
                <td>{{ entity.photoFile }}</td>
                <td>{{ entity.addressStreet }}</td>
                <td>{{ entity.addressCity }}</td>
                <td>{{ entity.addressState }}</td>
                <td>{{ entity.addressCountry }}</td>
                <td>{{ entity.addressPostCode }}</td>
                <td>{{ entity.latitude }}</td>
                <td>{{ entity.longitude }}</td>
                <td>{{ entity.phone }}</td>
                <td>{{ entity.alternativePhone }}</td>
                <td>{{ entity.gender }}</td>
                <td>{{ entity.timezoneId }}</td>
                <td>{% if entity.createdOn %}{{ entity.createdOn|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.disabled }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('teacher_account_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('teacher_account_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('teacher_account_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
