{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Teacher</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Firstname</th>
                <td>{{ entity.firstName }}</td>
            </tr>
            <tr>
                <th>Surname</th>
                <td>{{ entity.surname }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ entity.email }}</td>
            </tr>
            <tr>
                <th>Additionalemail</th>
                <td>{{ entity.additionalEmail }}</td>
            </tr>
            <tr>
                <th>Photofile</th>
                <td>{{ entity.photoFile }}</td>
            </tr>
            <tr>
                <th>Addressstreet</th>
                <td>{{ entity.addressStreet }}</td>
            </tr>
            <tr>
                <th>Addresscity</th>
                <td>{{ entity.addressCity }}</td>
            </tr>
            <tr>
                <th>Addressstate</th>
                <td>{{ entity.addressState }}</td>
            </tr>
            <tr>
                <th>Addresscountry</th>
                <td>{{ entity.addressCountry }}</td>
            </tr>
            <tr>
                <th>Addresspostcode</th>
                <td>{{ entity.addressPostCode }}</td>
            </tr>
            <tr>
                <th>Latitude</th>
                <td>{{ entity.latitude }}</td>
            </tr>
            <tr>
                <th>Longitude</th>
                <td>{{ entity.longitude }}</td>
            </tr>
            <tr>
                <th>Phone</th>
                <td>{{ entity.phone }}</td>
            </tr>
            <tr>
                <th>Alternativephone</th>
                <td>{{ entity.alternativePhone }}</td>
            </tr>
            <tr>
                <th>Gender</th>
                <td>{{ entity.gender }}</td>
            </tr>
            <tr>
                <th>Timezoneid</th>
                <td>{{ entity.timezoneId }}</td>
            </tr>
            <tr>
                <th>Createdon</th>
                <td>{{ entity.createdOn|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Disabled</th>
                <td>{{ entity.disabled }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('teacher_account') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('teacher_account_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
