<div class="row">
    <div class="col-md-12">
        <div class="alert alert-danger book-manually-update booking-error" role="alert"></div>
        <div class="alert alert-success book-manually-update booking-ok" role="alert">Booking Created Successfully!</div>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-2">
        <label class="book-manually-update">Casual:</label>
    </div>
    <div class="col-md-5">
        <span class="book-manually-update casual-name" data-teacher-id=""></span>
    </div>
    <div class="col-md-5">
        <div class="input-group">
            <div class="input-group-btn">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Shift Type <span class="caret"></span></button>
                <ul class="dropdown-menu shift-type-choice" id="book-manually-update-shift-list">
                    <li><a href="#" id="1">Morning</a></li>
                    <li><a href="#" id="2">Evening</a></li>
                    <li><a href="#" id="3">Night</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#" id="0">Special</a></li>
                </ul>
            </div>
            <input type="text" class="form-control book-manually-update shift-type-value" readonly="readonly" id="book-manually-update-shift-list-value" data-selected-shift-type-id="1" value="Morning">
        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-2">
        <label class="book-manually-update">Date Range:</label>
    </div>
    <div class="col-md-5">
        <div class="input-group date">
            <input type="text" class="form-control book-manually-update-shift-list-pickers datepicker date-from clsDatePicker" />
            <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>
    </div>
    <div class="col-md-5">
        <div class="input-group date">
            <input type="text" class="form-control book-manually-update-shift-list-pickers datepicker date-to clsDatePicker" />
            <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-2">
        <label class="book-manually-update">Time Range:</label>
    </div>
    <div class="col-md-5">
        <div class="input-group">
            <span class="input-group-addon"><span class="glyphicon glyphicon glyphicon-time"></span></span>
            <select class="form-control book-manually-update-shift-list-pickers timepicker time-from">
                {% for pickerTime in pickerTimes %}
                    <option value="{{ pickerTime }}">{{ pickerTime }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="col-md-5">
        <div class="input-group">
            <span class="input-group-addon"><span class="glyphicon glyphicon glyphicon-time"></span></span>
            <select class="form-control book-manually-update-shift-list-pickers timepicker time-to">
                {% for pickerTime in pickerTimes %}
                    <option value="{{ pickerTime }}">{{ pickerTime }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
</div>
