<div class="well">
    <form class="form-inline sms-booking-availability-search-form" onsubmit="return false;">
        <label>Booking Date Range: </label>&nbsp;
        <div class="input-group date">
            <input type="text" class="form-control book-via-sms-shift-list-pickers datepicker date-from" />
            <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>
        to
        <div class="input-group date">
            <input type="text" class="form-control book-via-sms-shift-list-pickers datepicker date-to" />
            <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>
        &nbsp;
        <div class="input-group">
            <div class="input-group-btn">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Shift Type <span class="caret"></span></button>
                <ul class="dropdown-menu shift-type-choice" id="book-via-sms-shift-list">
                    <li><a href="#" id="1">Morning</a></li>
                    <li><a href="#" id="2">Evening</a></li>
                    <li><a href="#" id="3">Night</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#" id="0">Special</a></li>
                </ul>
            </div>
            <input type="text" class="form-control book-via-sms shift-type-value" readonly="readonly" id="book-via-sms-shift-list-value" data-selected-shift-type-id="1" value="Morning">
        </div>
    </form>
    <br />
    <form class="form-inline sms-booking-availability-search-form" onsubmit="return false;">
        <label>Booking Time range: </label>&nbsp;&nbsp;
        <div class="input-group">
            <span class="input-group-addon"><span class="glyphicon glyphicon glyphicon-time"></span></span>
            <select class="form-control book-via-sms-shift-list-pickers timepicker time-from">
                {% for pickerTime in pickerTimes %}
                    <option value="{{ pickerTime }}">{{ pickerTime }}</option>
                {% endfor %}
            </select>
        </div>
        to
        <div class="input-group">
            <span class="input-group-addon"><span class="glyphicon glyphicon glyphicon-time"></span></span>
            <select class="form-control book-via-sms-shift-list-pickers timepicker time-to">
                {% for pickerTime in pickerTimes %}
                    <option value="{{ pickerTime }}">{{ pickerTime }}</option>
                {% endfor %}
            </select>
        </div>
        <label style="margin-left:10px; margin-right: 5px;">How many CYO's would you like to book?</label>
        <div class="input-group">
            <span class="input-group-addon"><span class="glyphicon glyphicon glyphicon-user"></span></span>
            <select class="form-control book-via-sms teachers-to-book">
                {% for number in 1..10 %}
                    <option value="{{ number }}">{{ number }}</option>
                {% endfor %}
            </select>
        </div>
    </form>
    <br />
    <div class="row">
        <div class="col-md-12">
            {#<div class="alert alert-danger alert-dismissible sms-booking-sl-alerts" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <span class="booking-sms-error">Booking interval should be less than 12 hours and more than 1 hour.</span>
            </div>#}
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <button class="btn btn-danger book-via-sms reset">Reset</button>
            <button class="btn btn-primary book-via-sms go-to-sms-history-page">SMS History</button>
        </div>
        <div class="col-md-4" id="sms-alert-container">
            <div class="checkbox" id="manual-override-function">
                <label>
                    <input type="checkbox" value="" class="book-via-sms manual-override">
                    Manual Override?
                </label>
            </div>
        </div>
        <div class="col-md-4">
            <button class="btn btn-primary book-via-sms search">Generate Shortlist</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4"><button class="btn btn-success book-via-sms submit">Create SMS Booking Request</button></div>
        <div class="col-md-4"></div>
    </div>
</div>
<div class="alert alert-success alert-dismissible book-via-sms booking-ok" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <strong>Success!</strong> Booking request have been created, check history to view progress and additional information
</div>
<div class="row">
    <div class="col-md-12" id="sms-available-teachers-container"></div>
    <div class="col-md-12" id="sms-booking-request-loading">
        <div class="text-center">
            {% image '@ClassCoverAdminBundle/Resources/public/images/loader-sl.gif' output="img/loader.gif" %}
            <img src="{{ asset_url }}" alt="Loading">
            {% endimage %}
        </div>
    </div>
</div>