<div class="well">
    <form class="form-inline sms-booking-availability-search-form" onsubmit="return false;">
        <label>Date Range: </label>&nbsp;
        <div class="input-group date">
            <input type="text" class="form-control sms-history datepicker-history date-from" />
            <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>
        to
        <div class="input-group date">
            <input type="text" class="form-control sms-history datepicker-history date-to" />
            <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>
        <button type="submit" class="btn btn-primary search-history-fire">Search</button>
        <a href="{{ path('class_cover_school_homepage') }}" type="submit" class="btn btn-primary">Go Back</a>
    </form>
</div>
<div class="row">
    <div class="col-md-12" id="school-sms-history-result-container"></div>
</div>