<div class="well" style="display:none;">
    <form class="form-inline" id="availability-search-form" onsubmit="return false;">
        <h4>Availability</h4>
        Search CYO's available:
        <button class="btn btn-primary btn-xs operational-buttons search-fixed-date" data-search-date="{{ "now"|date('Y-m-d') }}">Today</button>
        or
        <button class="btn btn-primary btn-xs operational-buttons search-fixed-date" data-search-date="{{ "tomorrow"|date('Y-m-d') }}">Tomorrow</button>
        <span>... or choose a specific date: </span>
        <div class="form-group">
            <div class="input-group date">
                <input type="text" class="form-control" id="datetime" />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>

        <input type="hidden" name="current_search_date" id="current_search_date" value="{{ "now"|date('Y-m-d') }}">
        <input type="hidden" name="school_user_id" id="school_user_id" value="{{ app.user.id }}">

        <button type="submit" class="btn btn-primary operational-buttons search-variable-date">Search</button>
        <button class="btn btn-default operational-buttons search-fixed-date" data-search-date="{{ "now"|date('Y-m-d') }}">Reset</button>
    </form>
</div>
<div class="row">
    <div class="col-md-8">
        <h4>CYO Availability List</h4>
        <p class="bookpage-legend">
            <b class="legend-available">A</b> = Available,
            <b class="legend-booked">B</b> = Booked,
            <b class="legend-unavailable">U</b> = Unavailable,
            <b class="legend-unavailable">P</b> = Pending Request
        </p>
        <p><button class="btn btn-primary btn-xs operational-buttons search-fixed-date" data-search-date="{{ "now"|date('Y-m-d') }}">Show Today</button></p>
    </div>
    <div class="col-md-2"></div>
</div>
<div class="row">
    <div class="col-md-4">
        <button type="button" class="btn btn-default btn-xs pull-left prev-day operational-buttons">
            <span class="glyphicon glyphicon-triangle-left" aria-hidden="true"></span> Previous Day
        </button>
    </div>
    <div class="col-md-4 text-center">
        <span class="current-date-display"></span>
    </div>
    <div class="col-md-4">
        <button type="button" class="btn btn-default btn-xs pull-right next-day operational-buttons">
            Next Day <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
        </button>
    </div>
</div>
<br />
<table class="table table-bordered" id="availability-table">
    <thead>
    <tr>
        <th>Merit</th>
        <th>CYO Name</th>
        <th>Phone</th>
        {% for i in 0..23 %}
            <th>{{ i < 10 ? 0~i : i }}</th>
        {% endfor %}
    </tr>
    </thead>
    <tbody>
    </tbody>
</table>

<div class="row">
    <div class="col-md-4">
        <button type="button" class="btn btn-default btn-xs pull-left prev-day operational-buttons">
            <span class="glyphicon glyphicon-triangle-left" aria-hidden="true"></span> Previous Day
        </button>
    </div>
    <div class="col-md-4 text-center">
        <span class="current-date-display"></span>
    </div>
    <div class="col-md-4">
        <button type="button" class="btn btn-default btn-xs pull-right next-day operational-buttons">
            Next Day <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
        </button>
    </div>
</div>